@import 'tailwindcss';

@theme {
    --color-primary: #0B1D33;
    --color-secondary: #8B5A2B;
    --color-accent: #EAA43B;
    --color-hightlight: #5D7F8F;
    --color-dark_neutral: #111111;
    --color-light_natural: #F2E3C4;
    
}